body {
  background-color: black;
  font-family: Helvetica, Arial;
}

h1, h2, h3 {
  color: white;
  font-family: Arial;
}

h1 {
  text-transform: uppercase;
}

.btn-group .button {
  width: 150px;
  color: white;
  display: block;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  background-color: blue;
  border: 1px solid white;
}

.btn-group .button:not(:last-child) {
  border-bottom: none; /* Previne Bordas Duplas */
}

.btn-group .button:hover {
  font-weight: bold;
  background-color: red;
}

:root {
  --glow-color: hsl(186 100% 69%);
}

.btn-group .button2 {
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  font-weight: bold;
  padding: 25px 30px;
  border-radius: 5px;
  letter-spacing: 4px;
  background-color: red;
}

.btn-group .button2:hover {
  color: white;
  background: green;
  font-weight: bold;
  -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px green, 0 0 25px green, 0 0 50px green, 0 0 200px green;
}

img {
  position: center;
  pointer-events: none;
  animation:spin 6s linear infinite;
  -moz-animation:spin 6s linear infinite;
  -webkit-animation:spin 6s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);}
}
