body {
  background-color: black;
  font-family: Helvetica, Arial;
}

h1, h2, h3 {
  color: white;
  font-family: Arial;
}

h1 {
  text-transform: uppercase;
}

.btn-group .button {
  width: 150px;
  color: white;
  display: block;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  padding: 15px 32px;
  text-decoration: none;
  background-color: blue;
  border: 1px solid white;
}

.btn-group .button:not(:last-child) {
  border-bottom: none; /* Previne Bordas Duplas */
}

.btn-group .button:hover {
  font-weight: bold;
  background-color: red;
}

:root {
  --glow-color: hsl(186 100% 69%);
}

.btn-group .button2 {
  font-size: 2em;
  cursor: pointer;
  font-weight: 900;
  background: none;
  perspective: 2em;
  letter-spacing: 1em;
  padding: 0.35em 1em;
  border-radius: 0.45em;
  font-family: Helvetica;
  color: var(--glow-color);
  border: 0.15em solid var(--glow-color);
  animation: border-flicker 2s linear infinite;
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color), 0px 0px 0.5em 0px var(--glow-color);
}

.led-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.btn-group .button2::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  filter: blur(1em);
  pointer-events: none;
  background: var(--glow-color);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
}

.btn-group .button2::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 100ms linear;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
}

.btn-group .button2:hover {
  opacity: 1;
  animation: none;
  text-shadow: none;
  color: rgba(0, 0, 0, 0.8);
}

.btn-group .button2:hover .led-txt {
  animation: none;
}

.btn-group .button2:hover:before {
  opacity: 1;
  filter: blur(1.5em);
}

.btn-group .button2:hover:after {
  opacity: 1;
}

img {
  position: center;
  pointer-events: none;
  animation:spin 6s linear infinite;
  -moz-animation:spin 6s linear infinite;
  -webkit-animation:spin 6s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);}
}
